body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
}
.header {
  background-color: #f8f9fa;
  display: flex;
  align-items: center;
  justify-content: start;
  border-bottom: 2px solid #e0e0e0;
  height: 10%;
  width: 100%;

  h1 {
    color: #1a73e8;
    margin: 0;
    font-size: 24px;
    margin-left: 20px;
  }
}
.container {
  display: flex;
  width: 100%;
  height: 90%;
}

.navbar {
  width: 15%;
  background-color: #f9fafb;
  padding: 10px;
  border-right: 1px solid #e5e7eb;
  height: 100%;
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}


.navbar ul li {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 12px 14px;
  font-size: 15px;
  color: #374151;
  border-radius: 12px;
  transition: all 0.2s ease;
}


.navbar ul li i {
  font-size: 18px;
  min-width: 22px;
}


.navbar ul li:hover {
  background-color: #e8f0fe;
  color: #1a73e8;
}


.navbar ul li.active {
  background-color: #1a73e8;
  color: #ffffff;
}

.navbar ul li.active i {
  color: #ffffff;
}

.conteudo {
  width: 85%;
  padding: 20px;
  box-sizing: border-box;
  height: 100%;
  overflow: auto;
  background-color: gray;
}


@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .navbar {
    width: 100%;
    height: 70px;
    padding: 0;
    border-right: none;
    border-top: 1px solid #e5e7eb;
  }

  .navbar ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    height: 100%;
  }

  .navbar ul li {
    flex-direction: column;
    gap: 4px;
    padding: 6px;
    font-size: 11px;
    height: auto;
  }

  .navbar ul li span {
    font-size: 10px;
  }

  .conteudo {
    width: 100%;
    height: calc(100vh - 70px);
  }
}
