
.card {
  background-color: #ffffff;
  border-radius: 20px;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  max-width: 600px;
  width: 100%;

  border: 1px solid #e6e6e9;
}


.card h2 {
  font-size: 20px;
  font-weight: 600;
  color: #1a1a1a;
  margin-bottom: 8px;
}

.card .campo {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}


 h3 {
  font-size: 12px;
  font-weight: 500;
  color: #333;
}


.card span {
  color: red;
}


.card .campo input,
.card .campo select,
.campoParcelamento input {
  width: 100%;
  height: 38px;

  border-radius: 8px;
  border: 1px solid #e6e6e9;
  background-color: #fafafa;

  font-size: 14px;
  outline: none;
}


.card input:focus,
.card select:focus {
  border-color: #1a73e8;
  background-color: #ffffff;
}


.parcelamento {
  width: 100%;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}


.perguntaParcelamento {
  display: flex;
  align-items: center;
  gap: 10px;

  height: 48px;


  background-color: #fafafa;
  border-radius: 8px;
  border: 1px solid #e6e6e9;
}

.perguntaParcelamento input {
  cursor: pointer;
}

.informacoesParcelamento {
  display: none;
  gap: 12px;
  width: 100%;
  flex-direction: column;
}


.campoParcelamento {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 6px;
}


.card button {
  width: 100%;
  height: 44px;

  border-radius: 8px;
  border: none;

  background-color: #1a73e8;
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.2s ease;
}

.card button:hover {
  background-color: #1558b0;
}

.switch {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background-color: #d1d5db;
  border-radius: 34px;
  transition: background-color 0.3s ease;
}


.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 3px;
  top: 3px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}


.switch input:checked + .slider {
  background-color: #1a73e8;
}

.switch input:checked + .slider::before {
  transform: translateX(20px);
}
